@font-face{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/Inter-Regular.woff') format('woff')
}


@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/Gilroy-Regular.woff') format('woff')
}

@font-face{
font-family: 'Unbounded';
font-style: normal;
font-weight: 400;
src:url('../fonts/Unbounded-Regular.woff') format('woff')
}

@font-face{
font-family: 'UnboundedMedium';
font-style: normal;
font-weight: 400;
src:url('../fonts/Unbounded-Medium.woff') format('woff')
}

@font-face{
font-family: 'UnboundedBold';
font-style: normal;
font-weight: 400;
src:url('../fonts/Unbounded-Bold.woff') format('woff')
}

.menuitem{
  box-sizing: border-box;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  padding: 1px;
  border: 1px solid #A0B6C3;
  border-radius: 20px;
  font-family: 'Gilroy';
  font-style: normal;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFFAA;
}

.navbar-toggler{
  background-color: #FFFFFF;
}